body {
	margin: 0;
	padding: 0;
	font-size: 18px;
	font-weight: 200;
	color: var(--tg-theme-text-color);
	background: var(--tg-theme-bg-color);
}
#main{
	width: 100%;
	padding: 20px;
	text-align: center;
}
.h1{
	margin-top: 50px;
	margin-bottom: 10px;
}


.container {
	max-width: 390px;
}

.inner {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 200px 200px 200px;
}

.img {
	width: 150px;
	margin: 30px auto;
}

.item {
	text-align: center;
}

.btn {
	border: 0;
	border-radius: 5px;
	margin-top: 50px;
	height: 60px;
	width: 200px;
	font-size: 20px;
	font-weight: 500;
	cursor: pointer;
	transition: all 500ms ease;
	background: var(--tg-theme-button-text-color);
	color: var(--tg-theme-button-color);
}

.btn:hover {
	background: var(--tg-theme-secondary-bg-color);
}

.usercard {
	text-align: center;
}
















